<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
    </httpModules>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="FindMyCourt.FindMyCourtService" behaviorConfiguration="FindMyCourtBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="FindMyCourt.IFindMyCourtService"></endpoint>
        <endpoint address="json" binding="webHttpBinding" bindingConfiguration="NonAuthenticatedBindingJson" contract="FindMyCourt.IFindMyCourtService"
          behaviorConfiguration="JSONEndpointBehaviour"></endpoint>
        <endpoint address="xml" binding="webHttpBinding" bindingConfiguration="NonAuthenticatedBindingXml" contract="FindMyCourt.IFindMyCourtService"
          behaviorConfiguration="XMLEndpointBehaviour"></endpoint>
      </service>
    </services>
    <behaviors>
      <!--These endpoints will be used to define the outgoing response format for the given request, returning either JSON or XML-->
      <endpointBehaviors>
        <behavior name="JSONEndpointBehaviour">
          <webHttp defaultOutgoingResponseFormat="Json" defaultBodyStyle="Wrapped"/>
        </behavior>
      <behavior name="XMLEndpointBehaviour">
        <webHttp defaultOutgoingResponseFormat="Xml"/>
      </behavior>
      </endpointBehaviors>
      <!--This is the main behaviour for the WCF service, this is where we set authentication and allowed protocols-->
      <serviceBehaviors>
        <behavior name="FindMyCourtBehaviour">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="NonAuthenticatedBindingJson">
          <security mode="None"></security>
        </binding>
      <binding name="NonAuthenticatedBindingXml">
        <security mode="None"></security>
      </binding>
      </webHttpBinding>
    </bindings>
    <!--<protocolMapping>
        <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>-->    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <connectionStrings>
    <add name="TestServer"
      connectionString="Data Source=FMC; Database=FindMyCourtTest;Integrated Security=true;Encrypt=True;TrustServerCertificate=True;Connection Timeout=60;"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.webServer>
    <!--<modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>-->
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>

</configuration>
